hnswlib.egg-info/
build/
dist/
tmp/
python_bindings/tests/__pycache__/
*.pyd
hnswlib.cpython*.so
var/
.idea/
.vscode/
.vs/
**.DS_Store
*.pyc
CLAUDE.md
.cache
.doc
compile_commands.json
.clangd
*.svg
*.data